body {
}
* {
    margin: 0px;
    padding: 0px;
}

.top {
    height: 790px;
    background-image: url(../image/bj.png );
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgba(221, 241, 252, 0.60);
}

.zi {
    width: 600px;
    height: 480px;
    background: no-repeat;
    position: absolute;
    background-size: 100% 100%;
    background-image: url(../image/8.png );
    margin-left: 460px;
    margin-top: 95px;
}

.tu {
    background-image: url(../image/.png );
    background-repeat: no-repeat;
    margin-left: 370px;
    height: 0px;
}

.zuo {
    float: left;
    width: 300px;
    height: 400px;
    margin-left: 300px;
    margin-top: 200px;
    background-image: url(../image/z.png );
    background-repeat: no-repeat;
}

.you {
    float: right;
    width: 300px;
    height: 400px;
    margin-right: 160px;
    margin-top: 210px;
    background-image: url(../image/y.png );
    background-repeat: no-repeat;
}

.cg {
    width: 400px;
    height: 90px;
    background-image: url(../image/cg.png);
    background-repeat: no-repeat;
    margin-left: 115px;
    margin-top: 130px;
}

.a {
    margin-left: 50px;
    margin-top: 100px;
}

.b {
    margin-left: 50px;
    float: left;
}

.gjz {
    width: 200px;
    height: 100px;
    float: left;
    background-image: url(../image/xb.png);
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 0px;
}

.bjc {
    width: 300px;
    height: 220px;
    float: right;
    background-image: url(../image/bjc.png);
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 40px;
}

.y {
    float: right;
    width: 300px;
    height: 400px;
    margin-right: 160px;
    margin-top: 250px;
    background-image: url(../image/xuexi.png );
    background-repeat: no-repeat;
}

.sb {
    width: 400px;
    height: 90px;
    background-image: url(../image/yh.png);
    background-repeat: no-repeat;
    margin-left: 115px;
    margin-top: 130px;
}

.bhg {
    width: 290px;
    height: 90px;
    float: left !important;
    background-image: url(../image/7.png);
    background-repeat: no-repeat;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ai {
    width: 250px;
    height: 150px;
    float: right;
    background-image: url(../image/ai.png);
    background-repeat: no-repeat;
    margin-right: 0px;
    margin-top: 50px;
}

.lj {
    margin-left: 50px;
    margin-top: 100px;
    float: left !important;
}
.c {
    margin-left: 80px;
    margin-top: 100px;
}